version: 2
jobs:
  build:
    environment:
      BASH_ENV: ~/.nvm/nvm.sh
    docker:
      - image: circleci/golang:1.12.9-browsers
      - image: 0xorg/ganache-cli:4.4.0-beta.0
        environment:
            VERSION: 4.4.1-beta.0
            SNAPSHOT_NAME: 0x_ganache_snapshot
    working_directory: /go/src/github.com/0xProject/0x-mesh
    steps:
      - checkout
      - run:
          name: Install dep
          command: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run:
          name: Install nvm
          command: curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
      - run:
          name: Configure nvm
          command: export NVM_DIR="$HOME/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      - run:
          name: Install Node v11
          command: nvm install 11
      - run: node --version
      - run:
          name: Install yarn
          command: npm i -g yarn@1.17
      - run:
          name: Install dependencies
          command: make deps-no-lockfile
      - run:
          name: Install Go linter
          command: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.16.0
      - run:
          name: Run linters
          command: make lint
      - run:
          name: Run Go tests
          command: make test-go
      - run:
          name: Run WebAssembly tests in Node.js
          command: make test-wasm-node
      - run:
          name: Run WebAssembly tests in a headless browser
          command: make test-wasm-browser
      - run:
          name: Run integration tests
          command: make test-integration
      - run:
          name: Test installing Mesh without CGO
          command: CGO_ENABLED=0 go install ./...
      - run:
          name: Build TS RPC client
          command: cd rpc/clients/typescript && yarn build
      - run:
          name: Run TS RPC client tests
          command: cd rpc/clients/typescript && yarn test
      - run:
          name: Run cut-release script to test it still works
          command: VERSION=100.0.0 make cut-release
