> **[@0x/mesh-rpc-client](../README.md)**

[Globals](../globals.md) / ["types"](../modules/_types_.md) / [ValidationResults](_types_.validationresults.md) /

# Interface: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [accepted](_types_.validationresults.md#accepted)
* [rejected](_types_.validationresults.md#rejected)

## Properties

###  accepted

• **accepted**: *[AcceptedOrderInfo](_types_.acceptedorderinfo.md)[]*

*Defined in [types.ts:150](https://github.com/0xProject/0x-mesh/blob/32339c4/rpc/clients/typescript/src/types.ts#L150)*

___

###  rejected

• **rejected**: *[RejectedOrderInfo](_types_.rejectedorderinfo.md)[]*

*Defined in [types.ts:151](https://github.com/0xProject/0x-mesh/blob/32339c4/rpc/clients/typescript/src/types.ts#L151)*