> # Interface: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [accepted](_types_.validationresults.md#accepted)
* [rejected](_types_.validationresults.md#rejected)

## Properties

###  accepted

• **accepted**: *[AcceptedOrderInfo](_types_.acceptedorderinfo.md)[]*

*Defined in [types.ts:164](https://github.com/0xProject/0x-mesh/blob/01a8c7e/rpc/clients/typescript/src/types.ts#L164)*

___

###  rejected

• **rejected**: *[RejectedOrderInfo](_types_.rejectedorderinfo.md)[]*

*Defined in [types.ts:165](https://github.com/0xProject/0x-mesh/blob/01a8c7e/rpc/clients/typescript/src/types.ts#L165)*